//- Pug file for the map which can be reused anywhere
//- link(rel='stylesheet', href='../css/leaflet.css', v='')
style
  include ../../public/css/leaflet.css
.mapping  
  #map
  script(src='http://cdn.leafletjs.com/leaflet-0.7/leaflet.js')
  script.
    var map = L.map('map').setView([#{place.lat}, #{place.long}], 12);
    mapLink =
    '<a href="http://openstreetmap.org">OpenStreetMap</a>';
    L.tileLayer(
    'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; ' + mapLink + ' Contributors',
    maxZoom: 18,
    }).addTo(map);
          
  //- Display markers for places
  if place
    script.
        var marker_place = new L.Marker([#{place.lat},#{place.long}]);
        map.addLayer(marker_place);

