//- Pug file for the map which can be reused anywhere
link(href="https://fonts.googleapis.com/css?family=Heebo:300&display=swap", rel="stylesheet")

style
  include ../../public/css/leaflet.css
.mapping  
  #map
  script(src='https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.2/leaflet.js')
  script.
    var map = L.map('map').setView([#{place.lat}, #{place.long}], 12);
    mapLink =
    '<a href="http://openstreetmap.org">OpenStreetMap</a>';
    L.tileLayer(
    'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; ' + mapLink + ' Contributors',
    maxZoom: 18,
    }).addTo(map);

    var marker_place = new L.Marker([#{place.lat},#{place.long}]);
        map.addLayer(marker_place);

