html
  style
    include ../public/css/success.css
  head
    link(rel='stylesheet', type='text/css', href='css/success.css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans|Quicksand', rel='stylesheet')
  body
    .navbar
      span(style='font-size:30px;cursor:pointer;color:white', onclick='openNav()') ☰ Menu
      #mySidenav.sidenav
        a.closebtn(href='javascript:void(0)', onclick='closeNav()') ×
        a(href='/home') Home
        a(href='/about') About
        a(href='/findEvents') Events
        a(href='/places') Places
      img.logo(src='/logo.png', alt='GPS', width='80', height='80')
    //- title of the page
    h1
      | Coming Soon!
      br
      |     feature will be implemented soon!
    //- create button to return back to the homepage
    .btn
      form(action='/home')
        button(type='submit') Go back home
    //- script for the navigation side bar    
    script.
      function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
      }
      function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
      }
