doctype html
html(lang='en')
  head
    title Create Event
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial scale=1.0')
    link(rel='stylesheet', href='../css/createEvent.css', v='')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans|Quicksand', rel='stylesheet')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  body
    .box
      form(action='/events/addEvent', method='POST', enctype="multipart/form-data")
        h1 Create Event
        p
          | Name of the event: 
          input(type='text', name='name')
        p
          | Date: 
          input(type='date', name='date')
        p
          | Organiser: 
          input(type='text', name='organizer')
        p
          | Location: 
          input(type='text', name='address')
        p
          | Descriptions: 
          input(type='text', name='description')
        p#topic Contact: 
        p
          | Email:  
          input(type='email', name='email')
        p
          | Phone number: 
          input(type='text', name='phone')
        p#topic
          b Gallery
        .uploadImage
          div
            input(type='file', onchange='previewFile()', name='pictures')
          div
            img(src='', alt='Image preview...', height='100')
        #bottom
          <div class='searchBar'>
            input#input(type='text', placeholder='SEARCH', onkeyup='addTag()')
          </div>
          ul#wrapper
            li
              input#tag(type='checkbox', name='tags', value='Art')
              | Art
            li
              input#tag(type='checkbox', name='tags', value='Photography')
              | Photography
            li
              input#tag(type='checkbox', name='tags', value='Painting')
              | Painting           
            li
              input#tag(type='checkbox', name='tags', value='Dancing')
              | Dancing
            li
              input#tag(type='checkbox', name='tags', value='Drama')
              | Drama
            li
              input#tag(type='checkbox', name='tags', value='Basketball')
              | Basketball           
            li
              input#tag(type='checkbox', name='tags', value='Soccer')
              | Soccer
            li
              input#tag(type='checkbox', name='tags', value='Rugby')
              | Rugby
            li
              input#tag(type='checkbox', name='tags', value='Badminton')
              | Badminton     
            li
              input#tag(type='checkbox', name='tags', value='Sports')
              | Sports
            li
              input#tag(type='checkbox', name='tags', value='Culture')
              | Cultural Events
            li
              input#tag(type='checkbox', name='tags', value='Music')
              | Music         
            li
              input#tag(type='checkbox', name='tags', value='Sing')
              | Sing
            li
              input#tag(type='checkbox', name='tags', value='Instruments')
              | Instruments
            li
              input#tag(type='checkbox', name='tags', value='Performance')
              | Performance
            li
              input#tag(type='checkbox', name='tags', value='Food')
              | Food         
            li
              input#tag(type='checkbox', name='tags', value='Vegetarian')
              | Vegetarian         
            li
              input#tag(type='checkbox', name='tags', value='Vegan')
              | Vegan       
            li
              input#tag(type='checkbox', name='tags', value='Sweets')
              | Sweets Lovers
            li
              input#tag(type='checkbox', name='tags', value='Coffee')
              | Coffee Lovers
            li
              input#tag(type='checkbox', name='tags', value='Meat Lovers')
              | Meat Lovers
            li
              input#tag(type='checkbox', name='tags', value='Tea')
              | Tea Lovers
            li
              input#tag(type='checkbox', name='tags', value='Brunch')
              | Brunch
            li
              input#tag(type='checkbox', name='tags', value='VideoGames')
              | Video Games
            li
              input#tag(type='checkbox', name='tags', value='TableTop')
              | Table Top Gaming
            li
              input#tag(type='checkbox', name='tags', value='NightLife')
              | NightLife
            li
              input#tag(type='checkbox', name='tags', value='Others')
              | Others
          br
          input#agreed(type='radio', value='agreed')
          |  I agree to the terms and conditions 
          br
          input(type="submit" value="SUBMIT")


    script.
      function previewFile() {
          var preview = document.querySelector('img'); //selects the query named img
          var file = document.querySelector('input[type=file]').files[0]; //sames as here
          var reader = new FileReader();
          reader.onloadend = function () {
              preview.src = reader.result;
          }
          if (file) {
              reader.readAsDataURL(file); //reads the data as a URL
              
          } else {
              preview.src = "";
          }
      }

      previewFile();  //calls the function named previewFile()

      var tags = [];

      function addTag() {
          
          var input, filter, ul, li, a, i;
          input = document.getElementById('input');
          filter = input.value.toUpperCase();
          ul = document.getElementById('wrapper');
          li = ul.getElementsByTagName('li');

          for(i = 0; i < li.length; i++){
              a = li[i].getElementsByTagName('input')[0];
              if(a.value.toUpperCase().indexOf(filter) > -1 && filter.length > 0){
                  li[i].style.visibility = 'visible';
              }
              else {
                  li[i].style.visibility = 'hidden';
              }
          }
      }
