doctype html
html(lang='en')
  head
    title Create Event
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial scale=1.0')
    link(rel='stylesheet', href='../css/createEvent.css', v='')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans|Quicksand', rel='stylesheet')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  body
    .gridContainer
      .box
        form(action='/events/addEvent', method='POST', enctype="multipart/form-data", onsubmit='return agreed()')
          //- title of the page
          h1 Create Event
          //- check if there are errors when creating events
          p
              | #{errors}
          //- Input boxes for the events
          p
            //- Event Name
            .eventInputs
              | Name of the event:
              br
              input(type='text', name='name')
          p
            .eventInputs
              | Start Date:
              br
              input(type='date', name='startDate')
          p
            //- End Date
            .eventInputs
              | End Date:
              br
              input(type='date', name='endDate')
          p
            //- Starting Time
            .eventInputs
              | Start Time:
              br
              input(type='time', name='startTime')
          p
            //- Ending Time
            .eventInputs
              | End Time:
              br
              input(type='time', name='endTime')
          p
            //- Location of the event
            .eventInputs
              | Location:
              br
              input(type='text', name='address')
          p
            //- Contact Information of the event
            .eventInputs
              #topic Contact:
              br
          p
            //- Email of the PIC
            .eventInputs
              | Email:
              br
              input(type='email', name='email')
          p
            //- Phone number of the PIC
            .eventInputs
              | Phone number:
              br
              input(type='text', name='phone')
          p
            //- Description of the event
            .eventInputs
              | Descriptions:
              br
              textarea(name="description" cols="40" rows="5")

          //- Event gallery (not yet implemented)
          p#topic
            br
            b Gallery

          //- uploading profile picture
          .uploadImage
            div
              input(type='file', onchange='previewFile()', name='pictures')

            div#preview

          //- Tag searching
          #bottom
            p
              | Tags
            .searchBar

            input#input(type='text', placeholder='Search Tags')
            input(type='button', value='Add tag', onclick='addTag()')

            #checked

            br
            .agree
              input#agree(type='checkbox', value='agreed')
              |  I agree to the terms and conditions
              br
            //- Button to submit the new event created
            .createEventButton
              input(type="submit" value="Create Event")

      //- JS to preview the images uploaded
      script.
        function previewFile() {
            var previewbox = document.getElementById('preview'); // get image by ID
            var file = document.querySelector('input[type=file]').files[0]; //sames as here

            //- upload image
            var reader = new FileReader();
            reader.onloadend = function () {

              //- resize the image
              let imgX = document.createElement("IMG");

              imgX.setAttribute("src", reader.result);
              imgX.setAttribute("style", "width: 100%;");

              //- allow user to upload multiple images
              previewbox.appendChild(imgX);

            }

            if (file) {
                reader.readAsDataURL(file); //reads the data as a UR

            } else {
                preview.src = "";
            }
        }

        previewFile();  //calls the function named previewFile()

        var tags = [];

        function addTag() {

            var tagValue = document.getElementById('input');

            if(tagValue.value.length > 0 && !tags.includes(tagValue.value.toLowerCase())){
                var tagLst = document.getElementById('checked');

                var tag = document.createElement('input');
                tag.type = 'button';
                tag.value = tagValue.value.toLowerCase();
                tag.name = 'tags';
                tag.onclick = function(){
                    var index = tags.indexOf(tag.value.toLowerCase());
                    tags.splice(index,1);
                    tag.parentNode.removeChild(tag);
                }

                tagLst.appendChild(tag);

                tags.push(tagValue.value.toLowerCase());
            }
            tagValue.value = "";
        }

        //- make sure user agrees to terms and conditions
        function agreed(){
          var att = document.getElementById('agree');
          if(!att.checked) {
            alert('You must agree to the terms and conditions');
            return false;
          }
          return true;
        }
