doctype html
html(lang='en')
  head
    title Create Event
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial scale=1.0')
    link(rel='stylesheet', href='./css/createEvent.css', v='')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans|Quicksand', rel='stylesheet')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  body
    .box
      form(action='/events/addEvent', method='POST', enctype="multipart/form-data")
        h1 Create Event
        p
          | Name of the event: 
          input(type='text', name='name')
        p
          | Date: 
          input(type='date', name='date')
        p
          | Organiser: 
          input(type='text', name='organizer')
        p
          | Location: 
          input(type='text', name='address')
        p
          | Descriptions: 
          input(type='text', name='description')
        p#topic Contact: 
        p
          | Email:  
          input(type='email', name='email')
        p
          | Phone number: 
          input(type='text', name='phone')
        p#topic
          b Gallery
        .uploadImage
          div
            input(type='file', onchange='previewFile()', name='pictures')
          div
            img(src='', alt='Image preview...', height='100')
        #bottom
          input#searchBar(type='text', placeholder='SEARCH', onkeydown='addTag(event)')
          div#tagStore
          br
          input#agreed(type='radio', value='agreed')
          |  I agree to terms and conditions 
          br
          br
          input(type="submit" value="SUBMIT")

    script.
      function previewFile() {
          const Grid = require('gridfs');
          var preview = document.querySelector('img'); //selects the query named img
          var file = document.querySelector('input[type=file]').files[0]; //sames as here
          var reader = new FileReader();
          reader.onloadend = function () {
              preview.src = reader.result;
          }
          if (file) {
              reader.readAsDataURL(file); //reads the data as a URL
              
          } else {
              preview.src = "";
          }
      }

      previewFile();  //calls the function named previewFile()

      var tags = [];

      function addTag(event) {
          var key = event.keyCode;
          var newTag = document.getElementById('searchBar').value;
          if (key === 9 && newTag.length > 0 && !tags.includes(newTag)) {
              var tag = document.createElement('input');
              tag.setAttribute('type', 'text');
              tag.setAttribute('value', newTag);
              tag.setAttribute('name', 'tags');
              tag.setAttribute('readOnly', true);
              document.getElementById('tagStore').appendChild(tag);
              tag.onclick = function() { tag.parentNode.removeChild(tag) };
              tags.push(newTag);
          }
          document.getElementById('searchBar').value = '';
      }
