doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='../css/search.css', v='')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans|Quicksand', rel='stylesheet')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    title Search

  body
    .container
      .title
        h1 Search Events
      .searchBox
        form(action='/events/getEvents', method='post')
            input(type='text', name='name')
            input(type='submit', value='Find')
      .displayEvents
        if events
            -
                let tags = [];
                let displayedEvents = events;
                for(let i = 0; i < events.length; i++){
                    for(let j = 0; j < events[i].tags.length; j++){
                        if(!tags.includes(events[i].tags[j])){
                            tags.push(events[i].tags[j]);
                        }
                    }
                }

                function searchEvents(tag){
                    displayedEvents = [];
                    for(let i = 0; i < events.length; i++){
                        if(events[i].tags.includes(tag.value)){
                            displayedEvents.push(events[i].tags.includes(tag));      
                        }
                    }
                }

            .tagFilters
                each tag in tags
                    input(type='button', value = tag, onclick='searchEvents(this)')
            .events
                ul
                    each event in displayedEvents
                        li #{event.name}
    
    script.
        var event = events
        console.log(event);
        
  
