doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='../css/loadPlaces.css', v='')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans|Quicksand', rel='stylesheet')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    title Search Places
  body
    //- Loading a page to search places before showings all the places 
    .container_first
      //- Main navigation menu
      include includes/navbar.pug
      //- Searching the places
      .searchBox
        h1 Find Places
        form(action='/places/getPlaces', method='post')
          input.search(type='text', placeholder='Search Places', name='name')
          input(type='submit', value='Find')
      .searchCategory
        -
            var categories = ['Food', 'Shopping', 'Education', 'Health', 'Entertainment',
            'Night', 'Nature', 'Art', 'Sports', 'Music', 'Recreation', 'Religious',
            'Uncategorized'];

        h2 Find by category
        div(class="dropdown")
            button(class="dropBtn") Dropdown
            div(class="dropdown-content")
                each cat in categories
                    form(action='/places/getPlacesByCategory/', method='post')
                        input(type='hidden', name='category', value= cat)
                        input(type='submit', value=cat)

      //- Footer
      .footer
        p(style='color:white')
          | © 2019 Get People Socilaizing. All rights reserved. 

    script.
        // Side Navigation Bar
        function openNav() {
          document.getElementById("mySidenav").style.width = "250px";
        }
        function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
        }