doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='../css/loadEvents.css', v='')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans|Quicksand', rel='stylesheet')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    title Search Events
  body
    //- Loading a page to search events before showings all the events 
    .container_first
      
      //- Main navigation menu
      include includes/navbar.pug
      
      //- Searching the events
      .searchBox
        h1 Find Events
        form(action='/events/getEvents', method='post')
          input.search(type='text', placeholder='Search Events', name='name')
          input(type='submit', value='Find')
      .filterSide
        h3 Filter
        p Tags
        input#input(type='text', placeholder='Search Tags', name='name', onkeyup='addTag()')
        #filter
      //- Footer
      .footer
        p(style='color:white')
          | © 2019 Get People Socilaizing. All rights reserved. 
          a(href='page2.html')
        a(href='page2.html')
        ul(style='color:white')
          a(href='page2.html')
          li
            a(href='page2.html')
            a(href='#') Privacy Policy
          li
            a(href='#') Terms of Service
          li
            a(href='#') Cookie Policy

    script.
        // Side Navigation Bar
        function openNav() {
          document.getElementById("mySidenav").style.width = "250px";
        }
        function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
        }