doctype html
html
  head
    title GO-BLOX: GET PEOPLE SOCIALISING!
    meta(charset='utf-8')
    link(rel='stylesheet',type='text/css', href='mappers.css')
    link(href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Heebo:300&display=swap", rel="stylesheet")
    link(href='https://fonts.googleapis.com/css?family=Pacifico&display=swap', rel='stylesheet')

    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.3.1/css/all.css')

  //-link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet-0.7/leaflet.css')
  body
    style
      include ../public/css/mappers.css
    .grid
      include includes/homeMap.pug
      .desc
        h1 gps.
        h3
          |get people
          br
          |socializing.
        h4
          br
          |A platform for students especially those 
          br
          |who are new in Melbourne 
          br
          |to discover events and places 
          br
          |based on their interests and 
          br
          |meet new people with likeminded values! :)  
          h2 FIND EVENTS AND PLACES
          .searching
            form(action="/maps/search", method="post")
              input(type="search", placeholder="Search events or places...",name="search")
              button.i.fa.fa-search(type='submit')
          
          if !isLoggedIn
            h5 DISCOVER MORE!
            .more
              ul
                li
                  a(href='/members/signup') SIGN UP
                li
                  a(href='/members/login') LOGIN

          else 
            ul
              li
                a#page(href='/members/login') Go to your page 

