doctype html
html
  head
    title Home
    link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css')
    script(src='http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js')
  body
    #map(style='width: 900px; height: 580px')
    script(type="text/javascript").
      // Creating map options
      var mapOptions = {
        //- center: auto,
      center: [-37.814, 144.96332],
      zoom: 10
      }
      // Creating a map object
      var map = new L.map('map', mapOptions);
      var layer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');
        // Adding layer to the map
      map.addLayer(layer);
    each evented in events
      script(type="text/javascript").
        var lat = parseFloat(evented.location[0].latitude);
        var long = parseFloat(evented.location[0].longitude);
        var marker = new L.Marker([lat,long]);
        var customOptions = {
          'maxWidth': '500',
          'className' : 'custom'};
        marker.bindPopup('Batman is here:  #{evented.name},\naddress: #{evented.address}', customOptions).openPopup();
        map.addLayer(marker);
      
      