doctype html
html
  head
    title Simple Leaflet Map
    meta(charset='utf-8')
    link(rel='stylesheet',type='text/css', href='mappers.css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans&display=swap', rel='stylesheet')

  //-link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet-0.7/leaflet.css')
  body
    style
      include ../public/css/mappers.css
    #map(style='width: 190vh; height: 100vh;')
    script(src='http://cdn.leafletjs.com/leaflet-0.7/leaflet.js')
    script.
      var map = L.map('map').setView([-37.814, 144.96332], 10);
      mapLink =
      '<a href="http://openstreetmap.org">OpenStreetMap</a>';
      L.tileLayer(
      'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; ' + mapLink + ' Contributors',
      maxZoom: 18,
      }).addTo(map);
    each evented in events
      script.
        var marker = new L.Marker([#{evented.lat},#{evented.long}]);
        marker.bindPopup("#{evented.name}");
        map.addLayer(marker);
     
    h1 gps.
    h3
      |get people 
      br
      |socializing
    h4
      |A platform for students especially those who are new in Melbourne 
      br
      |to discover events and places based on their interests and 
      br
      |meet new people with likeminded values! :)

    
    
        
      
