html
  style
    include ../public/css/success.css
    include ../public/css/universal.css
  head
    link(rel='stylesheet', type='text/css', href='css/success.css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans|Quicksand', rel='stylesheet')
  body

    .grid
      //- Navigation menu
      include includes/navbarNonUser.pug

      .content
        //- Main content
        h1
          | You don't have access to this page!
          p You must be registered as a member to gain access to this page!
          br
          form(action='/')
            button(type='submit') home
        .btn
          form(action='/members/login')
            button(type='submit') Log me in
        .btn
          form(action='/members/signup')
            button(type='submit') Create a new account

    //- Javascript code
    script.

        //- navigation bar script
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
