html
  style
    include ../public/css/success.css
    include ../public/css/universal.css
  head
    link(href='https://fonts.googleapis.com/css?family=Open+Sans|Quicksand', rel='stylesheet')
    link(href="https://fonts.googleapis.com/css?family=Heebo:300&display=swap", rel="stylesheet")
  body
    .grid
      //- display navigation bar
      include includes/navbarNonUser.pug

      .content
        //- Main content
        h1
          | Page not found!
          br
          br
          img(src="https://cdn.drawception.com/images/panels/2017/9-19/9rAO5EOp5M-2.png", alt="OOF!")
          form(action='/')
            br
            button(type='submit') Home

    //- Javascript code
    script.
        //- navigation bar script
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
