doctype html
html
  style
    include ../public/css/profile.css
    include ../public/css/home.css
    
  head
    title GPS
    meta(charset='utf-8')/
    meta(name='viewport', content='width=device-width, initial scale=1.0')/
    link(href='https://fonts.googleapis.com/css?family=Open+Sans|Quicksand', rel='stylesheet')/
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')/
  body
    .grid
      .logo
        a(href='#')
          img(src='../logo.png', alt='GPS', width='50', height='50')
      // Nav bar
      .nav
        ul
          li
            a(href='#') HOME
          li
            a(href='#') EVENTS
          li
            a(href='#') PLACES
          li
            a(href='#') ABOUT
          li
            a(href='#') FAQ
          li
            a(href='#') CONTACT
      p
        | You have successfully activated your account