doctype html
html(lang='en')
  head
    title Profile Tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial scale=1.0')
    link(rel='stylesheet', href='../css/createEvent.css', v='')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans|Quicksand', rel='stylesheet')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  body
    .gridContainer
      .box
        form(action='/members/storeInfo', method='post')
          h1 Select your Interests!
          p
              | #{errors}

          //- Add interest tags
          p
            | Tags
          .searchBar
            input#input(type='text', placeholder='Search Tags')
            input(type='button', value='Add tag', onclick='addTag()');

          #checked   

            br
          //- add event desctiption
          p
            .eventInputs  
              | Descriptions: 
              br
              input(type='text', name="description" cols="40" rows="5")

          //- submit
          .createEventButton
            input(type="submit" value="Finish")

      script.

        function addTag() {

            var tagValue = document.getElementById('input');

            if(tagValue.value.length > 0){
                var tagLst = document.getElementById('checked');

                var tag = document.createElement('textarea');
                tag.value = tagValue.value;
                tag.name = 'tags';
                tag.readonly = true;
                tag.onclick = function(){
                    tag.parentNode.removeChild(tag);
                }

                tagLst.appendChild(tag);
                tagValue.value = "";
            }
            
        }
