doctype html
html
  style
    include ../public/css/profile.css
    include ../public/css/home.css
    

  head
    title GPS
    meta(charset='utf-8')/
    meta(name='viewport', content='width=device-width, initial scale=1.0')/
    link(href='https://fonts.googleapis.com/css?family=Open+Sans|Quicksand', rel='stylesheet')/
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')/
  body
    .grid
      .logo
        a(href='#')
          img(src='../logo.png', alt='GPS', width='50', height='50')
      // Nav bar
      .nav
        ul
          li
            a(href='#') HOME
          li
            a(href='/events/findEvent') EVENTS
          li
            a(href='#') PLACES
          li
            a(href='#') ABOUT
          li
            a(href='#') FAQ
          li
            a(href='#') CONTACT
      .profile
        ul
          li
            a(href='#') PROFILE
      .search
        input.searchTerm(type='text', placeholder='Search')
        button.searchButton(type='submit')
          i.fa.fa-search
      // Banner
      .banner
         -var name = firstName;
            p Hello #{name}
            p Welcome to the profile page
      // Basic profile
      .basicProfile
        h2 Basic Profile
        .profPic
          a(href='#')
            img(src='../profile.png', alt='GPS', width='150', height='150')
        .profDesc
          -var fullname = firstName + ' ' + lastName;
          p Name: #{fullname}
          p DOB: #{DOB}
          p  Join Date: #{joined_date}
          p  Interests 
          p  Reviews 
          p  Friends 
          p  Past Events Attended 
          p  Past Events Created 
          p  Events interested & going 
          p  Bookmarks 
      // Interests
      .interest
        h2 Interest
        ul
          li Lorem, ipsum.
          li Lorem, ipsum.
          li Lorem, ipsum.
          li Lorem, ipsum.
          li Lorem, ipsum.
          li Lorem, ipsum.
      // Events
      .events
        h2 Events and Places Visited
        .eventList
          .card
            .bg-img
              img(src='../pictures/reb.jpg', alt='GPS', width='215', height='115')
            .content
              h4 Royal Exhibition Building
              p  9 Nicholson St, Carlton VIC 3053 
              button Read more
          .card
            .bg-img
              img(src='../pictures/zoo.jpg', alt='GPS', width='215', height='115')
            .content
              h4 Melbourne Zoo
              p  Elliott Ave, Parkville VIC 3052 
              button Read more
          .card
            .bg-img
              img(src='../pictures/shrine.jpg', alt='GPS', width='215', height='115')
            .content
              h4 Shrine of Rememberance
              p  Birdwood Ave, Melbourne VIC 3001 
              button Read more
          .card
            .bg-img
              img(src='../pictures/ngv.jpg', alt='GPS', width='215', height='115')
            .content
              h4 National Gallery of Victoria
              p  180 St Kilda Rd, Melbourne VIC 3006
              button Read more
      // Friends
      .friends
        h2 Friends
        h3 No friends to display yet...
      // Ratings and Reviews
      .reviews
        h2 Reviews
        h3 No review written yet...
      // Bookmarks
      .bookmarks
        h2 Bookmarks
        .eventList
          .card
            .bg-img
              img(src='../pictures/docklands.jpg', alt='GPS', width='215', height='115')
            .content
              h4 Docklands
              p Docklands
              button Read more
