doctype html
html(lang='en')
  head
    title Profile Tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial scale=1.0')
    link(rel='stylesheet', href='../css/profileTags.css', v='')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans|Quicksand', rel='stylesheet')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')

  body
    .gridContainer
      .box
        form(action='/members/storeInfo', method='post')
          h1 Select your Interests!
          p
              | #{errors}

          //- Add interest tags
          p
            | Tags
          .searchBar
            input#input(type='text', placeholder='Search Tags')
            input(type='button', value='Add tag', onclick='addTag()')

            #checked   

            br
          //- add event desctiption
          p
            .eventInputs  
              | Descriptions: 
              br
              input(type='text', name="description" cols="40" rows="5")

          //- submit
          #overlay
              .submitBtns
                p Are you sure?
                input(type='submit', value="Yes")
                input(type='button', value="No", onclick='removePopup()')
      input(type='button', value="Finish", onclick='openPopup()')

      script.
        var tags = [];

        function addTag() {

            var tagValue = document.getElementById('input');

            if(tagValue.value.length > 0 && tagValue.value.length <= 20 
                && !tags.includes(tagValue.value.toLowerCase())){
                var tagLst = document.getElementById('checked');

                var tag = document.createElement('input');
                tag.type = 'text';
                tag.value = tagValue.value.toLowerCase();
                tag.name = 'interests';
                tag.readonly = true;
                tag.onclick = function(){
                    var index = tags.indexOf(tag.value.toLowerCase());
                    tags.splice(index,1);
                    tag.parentNode.removeChild(tag);
                }

                tagLst.appendChild(tag);

                tags.push(tagValue.value.toLowerCase());
            }
            tagValue.value = "";
        }

        // Setting tab functions
        function openPopup(){
            document.getElementById("overlay").style.display = "block";
        }

        function removePopup(){
            document.getElementById("overlay").style.display = "none";
            tags = [];
        }
