doctype html
html(lang='en')
  head
    title SIGN UP
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial scale=1.0')
    link(rel='stylesheet', href='../css/signUpForm.css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans|Quicksand', rel='stylesheet')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  body
    .gridContainer
      .box
        h1 SIGN UP
        form(action='/members/register', method='post', enctype="multipart/form-data", onsubmit='return agreed()')
          p
            | #{error}
          .nameContainers
            .comp
              .signUpsFirstName
                | First Name:
                br
                input(name='firstName', type='text', placeholder='First Name')
                br
            .signUpsLastName
              | Last Name:
              br
              input(name='lastName', type='text', placeholder='Last Name')
          p
            .signUps
              | Username:
              br
              input(name='userName', type='text', placeholder='Username')
              br
          p
            .signUps
              | Password:
              br
              input(name='password', type='password', placeholder='Password')
              br
          p
            .signUps
              | Confirm Password:
              br
              input(name='password_confirm', type='password', placeholder='Confirm Password')
              br
          p
            .signUps
              .tooltip
                | Email:
                span.tooltiptext Please insert a real email for sign up verification
              br
              input(name='email', type='email', placeholder='Email')
              br
          p
            .signUps
              | DOB:
              br
              input(name='DOB', type='date')
              br
            
            //.uploadImage
              input#file-field(type='file', onchange='previewImage(event)', name='display')
              div#preview
              img#image-field(src='/pictures/profile_icon.png', width='150', height='150')  

          p
            .agree
              input#agree(type="checkbox")
              | I agree to the terms and conditions
          .signUpButton
            input.btn.btn-primary(type='submit', value='Sign Up')
            br
        br
        form(action='/members/login', method='get')
          .loginButton
            input(type='submit', value='Sign in to your account')
  script.
    function agreed(){
      var att = document.getElementById('agree');
      if(!att.checked) {
        alert('You must agree to the terms and conditions');
        return false;
      }
      return true;
    }

    function previewImage(event){
      var reader = new FileReader();
      var imageField = document.getElementById("image-field")
      reader.onload = function(){
        if(reader.readyState == 2){
          imageField.src = reader.result;
          }
      }
      reader.readAsDataURL(event.target.files[0]);
    }
