doctype html
html(lang='en')
  head
    title SIGN UP
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial scale=1.0')
    link(rel='stylesheet', href='../css/signUpForm.css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans|Quicksand', rel='stylesheet')
    link(href="https://fonts.googleapis.com/css?family=Heebo:300&display=swap", rel="stylesheet")
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")

  body
    //- Configuring grid
    .gridContainer
      .box
        h1 SIGN UP
        //- Form to fill in new users details
        form(action='/members/register', method='post', enctype="multipart/form-data", onsubmit='return agreed()')
          p #{error} 
          //- Enter name
          .nameContainers
            .comp
              .signUpsFirstName
                | First Name:
                br
                input(name='firstName', type='text', placeholder='First Name')
                br
            .signUpsLastName
              | Last Name:
              br
              input(name='lastName', type='text', placeholder='Last Name')
          p
            //- Username
            .signUps
              | Username:
              br
              input(name='userName', type='text', placeholder='Username')
              br          
          p
            //- Password
            .signUps
              | Password:
              br
              input#pwd(name='password', type='password', placeholder='Password', pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}", onclick="openSpan()")
              div(class='popup')
                span(class="popuptext" id="pwdSpan")
                  #message
                    p#let(class='invalid') Require lowercase letter
                    p#num(class='invalid') Require number
                    p#len(class='invalid') Require 8 characters
              br              
          p
            //- Confirm password
            .signUps
              | Confirm Password:
              br
              input(name='password_confirm', type='password', placeholder='Confirm Password')
              br
          p
            //- Email
            .signUps
              .tooltip
                | Email:
                span.tooltiptext Please insert a real email for sign up verification
              br
              input(name='email', type='email', placeholder='Email')
              br
          p
            //- Date of birth
            .signUps
              | DOB:
              br
              -
                var dateFormat = new Date();
                var y = dateFormat.getFullYear();
                var m = dateFormat.getMonth()+1;
                var d = dateFormat.getDate();
                var currDate = y + '-';
                if(m < 10)
                    currDate += '0'+ m + '-';
                else
                    currDate += m + '-';
                if(d < 10)
                    currDate += '0' + d;
                else
                    currDate += d;

              input(name='DOB', type='date', min= "1900-00-00", max= currDate)
              br
            //- Upload profile picture
            .uploadImage
              br
              p Upload Profile Picture
              input#file-field(type='file', onchange='previewImage(event)', name='display')
              div#preview
              img#image-field(src='/profilePic.png', width='150', height='150')  

          p
            //- Agree button
            .agree
              input#agree(type="checkbox")
              | I agree to the terms and conditions
          
          //- submit
          #overlay
              .submitBtns
                p Are you sure?
                br
                input(type='submit', value="Yes")
                input#no(type='button', value="No", onclick='removePopup()')
        .signUpButton
          input(type='button', value="Sign in!", onclick='openPopup()')
        br
        form(action='/members/login', method='get')
          .loginButton
            input(type='submit', value='Sign in to your account')
  script
      include ../public/js/signup.js
  script.

    $('form input').keydown(function (e) {
        if (e.keyCode == 13) {
            e.preventDefault();
            return false;
        }
    });
