html
  style
    include ../public/css/success.css
  head
    link(rel='stylesheet', type='text/css', href='css/success.css')
    link(rel='stylesheet', href='../css/universal.css', v='')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans|Quicksand', rel='stylesheet')
    link(href="https://fonts.googleapis.com/css?family=Heebo:300&display=swap", rel="stylesheet")
  body
    .grid
      //- Navigation menu
      include includes/navbarNonUser.pug
      .logo
        a(href='/') 
          img(src= "/logo.png", alt='GPS', width='80', height='80')
      //- Success page after user verifies email
      .content
        h1
          | Your account has been successfully verified!
          br
          |     Please, proceed to a login page.
          .btn
            form(action='/members/login')
              button(type='submit') Log me in
    script.
        //- Function for navigation bar
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
