* {
    margin: 0;
    padding: 0; 
}

/* General body formatting */

body{
    color:#333;
    font-family: 'Quicksand';
    padding-left: 30px;
    padding-right: 30px;
    background-image: linear-gradient(to top right, #f5bdab, #90a4bc);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Format Header */

h1 {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #647a94;
}

form {
    color: rgb(236,118,85);
    font-size: 20px;

}

/* Configure grid */

.box {
    display: block;
    background-color: rgb(255,249,248);
    border: solid 1px rgb(214,201,201);
    height: 700px;
    width: 700px;
    padding: 30px;
    align-content: center;
    text-align: center;
    margin: 100px auto;
}

.bottom button {
    background-color: transparent;
    border: 1px solid #2196F3;
    padding: .5rem 1rem;
    cursor: pointer;
    border-radius: .25rem;
  }

 .uploadImage {
     display: grid;
     grid-template-columns: 1fr 1fr;
 }

 ul#wrapper{
     list-style: none;
     display: inline-block;
 }

 li{
     float:left;
     text-align:center;
     visibility:hidden;
 }

 a {
     text-decoration:none;
 }