
form {
    color: rgb(236,118,85);
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    background-color: rgba(245,189,171,0.8);
    
}

h1 {
    color: rgb(190,202,208);
    font-family: 'Helvetica';
    font-style: italic;
}

body {
    background-image: url("https://previews.123rf.com/images/okanda/okanda1706/okanda170600009/80245917-cute-kids-with-parents-and-friends-in-a-circle-looking-down-for-photo-young-diverse-parents-with-cut.jpg");
    background-repeat: no-repeat;
    background-size: 100%;

}