
body{
    color:#333;
    font-family: 'Quicksand';
    padding-left: 30px;
    padding-right: 30px;
}

form {
    color: rgb(236,118,85);

}

h1 {
    color: black;
    font-family: 'Quicksand';
    font-style: bold;
    font-style: italic;
}

.box {
    display: block;
    background-color: rgb(255,249,248);
    border: solid 1px rgb(214,201,201);
    height: 700px;
    width: 700px;
    padding: 30px;
    align-content: center;
    text-align: center;
    margin: 100px auto;
}

body {
    background-image: url("https://previews.123rf.com/images/okanda/okanda1706/okanda170600009/80245917-cute-kids-with-parents-and-friends-in-a-circle-looking-down-for-photo-young-diverse-parents-with-cut.jpg");
    background-repeat: no-repeat;
    background-size: 100%;

}

.bottom button {
    background-color: transparent;
    border: 1px solid #2196F3;
    padding: .5rem 1rem;
    cursor: pointer;
    border-radius: .25rem;
  }

 .uploadImage {
     display: grid;
     grid-template-columns: 1fr 1fr;
 }

 ul#wrapper{
     list-style: none;
     display: inline-block;
 }

 li{
     float:left;
     text-align:center;
 }

 a{
     text-decoration:none;
 }