*{
    padding: 0;
    margin: 5px;;
}
  
body{
    font-family: "Quicksand";
}

.grid{
    display: grid;
    height: 100%;
    grid-template-columns: auto;
    grid-template-rows: 0.3fr 3fr 3fr 3fr 0.3fr;
    grid-template-areas: 
    "navbar"
    "main_content"
    "gallery"
    "ratings"
    "reviews"
    "footer";
}

.navbar{
    grid-area: navbar;
}.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ED7755;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
  
    color: black;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

.logo{
    float: right;
}

.main_content{
    grid-area: main_content;
    text-align: center;
}
.join{
    display: inline-block;
}

.gallery{
    grid-area: gallery;
}

.reviews{
    grid-area: reviews;
}

.ratings{
    grid-area: ratings;
}

.footer{
    grid-area: footer; 
    background-color: #90A4BC;
  
  }
  
  .footer li{
    display: inline;
    text-decoration: none;
  }
  
  .footer a{
    text-decoration: none;
    color: white;
  }
  
  .footer li:hover,
  .footer li.sfHover,
  .footer li.current-menu-item {
      border-bottom: solid 0.3px black;
  
  }