*{
    margin: 0;
    padding: 0; 
    padding-top: 3px;

}

body{
    color:#333;
    font-family: 'Quicksand';
    padding-left: 30px;
    padding-right: 30px;
}


.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    align-self: center;
    justify-self: center;
    min-width: 0;
    min-height: 0;
    grid-gap: 30px;
}

a{
    text-decoration: none;
    color: black;
}

.logo{
    grid-column: 1/2;
    grid-row: 1/2;
}

.nav{
    grid-area: nav;
    grid-column:2/9;
    grid-row: 1/2;
}

.nav li{
    list-style-type: none;
    display: inline;
    list-style:none;
    text-align: center;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
}

.nav li:hover,
.nav li.sfHover,
.nav li.current-menu-item {
    background: none;
    border-bottom: 2px solid #e15848;
}

.profile{
    grid-area: profile;
    grid-column:9/11;
    grid-row: 1/2;
    justify-self: end;
}

.profile li{
    list-style-type: none;
    display: inline;
    list-style:none;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
}

.profile li:hover,
.profile li.sfHover,
.profile li.current-menu-item {
    background: none;
    border-bottom: 2px solid #e15848;
}

.search{
    grid-area: search;
    grid-column: 11/14;
    grid-row: 1/2;
    justify-self: end;
}


.searchTerm {
    border: 1px solid black;
    font-size: 15px;
    border-radius: 5px;
}
.searchButton {
    cursor: pointer;
    border: 0px;
    font-size: 15px;
  }

.title{
    grid-area: title;
    background-color: white; 
    text-align: center;
    grid-column: 1/14;
    grid-row: 2/3;
    border: black;
    height: 100%;
    background: linear-gradient(180deg,#f5bdab 80%, white 50%);
}

.intro{
    grid-area: intro;
    text-align: center;
    background-color: white;
    grid-column: 1/14;
    grid-row: 3/4;
}

.pop_intro{
    grid-column: 1/14;
    grid-row: 4/5;
    font-family: "Open Sans";
    font-size: 20px;
}

.pop{
    grid-area: pop;
    grid-column: 1/14;
    grid-row: 5/6;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-gap: 30px;
}

 .card {
    border: 1px solid #d3d3d3;
    border-radius: .25rem;
    padding: .25rem .25rem .25rem .25rem;
  }
  
  .bg-img {
    background-size: cover;
    min-height: 200px;
    background-position: center;
  }
  
  .content {
    padding: 15px;
  }
  
  .card button {
    background-color: transparent;
    border: 1px solid #2196F3;
    padding: .5rem 1rem;
    
    cursor: pointer;
    border-radius: .25rem;
  }
.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }

.footer{
    grid-area: footer;
    grid-column: 1/14;
    grid-row: 6/7;
    background-color: #f5bdab;
}

.footer li{
    display: inline;
    list-style:none;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

  
  
