/* VARIABES */

body {
    background-image: url("https://media.istockphoto.com/photos/like-getting-together-with-my-friends-picture-id869988382");
    
    font-family: 'Quicksand';
    background-color: lightsalmon;
    background-image: linear-gradient(to top right, #f5bdab, #90a4bc);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 40px;
    letter-spacing: 2px;
    font-family: 'Quicksand';
}

p {
    font-size: 20px;
}

button {
    width: 340px;
    height: 50px;
}

input {
    font-size: 20px;
    width: 300px;
    padding: 20px;
    font-family: 'Quicksand';
}

.logins {
    padding: 10px 10px 10px 10px;
}

.loginButton {
    height: 50px;
    padding: 10px 10px 10px 10px; 
    margin: 0 auto;
    font-family: 'Quicksand';
    
}

.container {
    display: block;
    text-align: center;
    background-color: rgb(255,249,248);
    border: solid 1px rgb(214,201,201);
    height: 500px;
    width: 800px;
    padding: 30px;
    align-content: center;
    margin: 100px auto;
}