/* CSS FILE FOR loadEvents.pug */
/* configure main layout */
body {
    font-family: 'Heebo';
    background-color: #f4f4f4;
    padding: 0;
    margin: 0;
}

/* configure the grid */
.container {
    display: grid;
    grid-gap: 5vh;
    grid-template-columns: 0fr 1fr 0fr;
    grid-template-rows: 0fr 1fr 0fr;
    min-height: 100vh;
    grid-template-areas: 
    "navbar searching logo"
    "mapping displayEvents displayEvents"
    "footer footer footer";
}

/* container for the search events/search places */

/* configure header elements */
.navbar{
    position: sticky;
}

/* configure search bar */
.searching {
    grid-area: searching;
    display: inline-block;
    max-height: 200px;
    text-align: center;
    padding: 10px;
}

::placeholder{
   color: #a0a0a0;
   font-style: italic;
}

.search{
   width: 70%;
   height: auto;
   font-size: 1em;
   padding: 7px;
   border-top-left-radius: 3px;
   border-bottom-left-radius: 3px;
   border: solid 0.5px rgb(213,221,232);
}

.searching input[type=text]:hover{
    border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;
}

.searching:focus{
    border-color:#4d90fe;
}

.searching input[type=submit]{
    font-size: 1em;
    padding: 7px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-top: 3vh;
    border: solid 0.5px rgb(213,221,232);
    background-color: rgb(213,221,232);
}

.searching input[type=submit]:hover{
    background-color: #becad0;
}

button{
    margin-left: 10px;
    font-size: 15px;
}  

/* configure the map */
.mapping{
	grid-area: mapping;
    background-color: inherit;
    height: 0;
    position: sticky;
    top: 50px;
}

#map {
    height: 250px;
    width: 250px;
    margin: 20px;
    /* margin-top: 30px; */
    border-radius: 5px;
    z-index:1;
}

.filterSide{
    grid-area: filterSide;
    padding-left: 20px;
    position: sticky;
    overflow: hidden;
    margin-top: 250px;
}

.filterSide input[type=text]{
    border-radius: 5px;
    padding: 5px;
    border: solid 0.5px rgb(213,221,232);
}

.filterSide h3{
    font-size: 25px;
}

.filterSide p{
    padding-bottom: 10px;
    padding-top: 5px;
}

#input{
    font-size: 15px;
    margin-bottom: 10px;
}

/* filter the tag */

#filter{
    overflow-y: auto;
    width: 250px;
    height: 14vh;
}

.filterTag{
    background-color: white;
    border: 1px solid #becad0;
    padding: 3px;
    margin-left: 2px;
    margin-bottom: 3px;
    border-radius: 5px;
    font-family: 'Heebo';
}

.filterTag:hover{
    background-color:#becad0;
}
.filterTag button.active{
    background: #ED7755;
}
.all{
    padding: 3px;
    margin-bottom: 3px;
    background-color: white;
    border: 1px solid #becad0;
    border-radius: 5px;
    margin-left: 5px;
}

.all:hover{
    background-color:#becad0;
}
.all .active{
    background-color: #e15848;
}

.button{
    background-color: #90A4BC;
}

/* layout to show the events */
.displayEvents{
    grid-area: displayEvents;
    display: grid;
}

.displayEvents h2{
    margin-bottom: 5px;
    font-weight: bolder;
    font-size: 25px;
}

.event_card{
    display: grid;
    grid-template-columns: 2.4fr 4.6fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "event_pic event_title"
    "event_tag event_tag";
    border: 1px solid #becad0;
    border-radius: 4px;
    text-decoration: none;
    overflow: hidden;
    transition: all 0.2s ease-out;
    padding-left: 20px;
    padding-top: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    margin-right: 20px;
}

.event_card:hover {
  top: -2px;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  border: 1px solid #cccccc;
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.event_title{
    grid-area: event_title;
    margin-right:auto;
    overflow:auto;
}

.title{
    font-weight: bold;
    font-size: 1.5em;
}

h3 {
    margin-block-start: 0px;
}

.event_pic{
    grid-area: event_pic;
    padding-right: 10px;
    padding-bottom: 10px;
}

.event_pic img {
    width: 100%;
    height: auto;
}

/* configure the tag for the event */
.event_tag{
    grid-area: event_tag;
    word-break: break-all;
    width: 100%;
    height: auto;
    margin-top: 5px;
    margin-right: 10px;
  }

.event_tag ul{
    padding-inline-start: 0px;
    margin-block-start: 5px;
}
  
.event_tag li{
    list-style-type: none;
    position: relative;
    border: solid 1px #707070;
    display: inline;
    margin-right: 10px;
    border-radius: 20px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 15px;
    color:black;
    line-height: 1.8em;
}

/* configure footer */
.footer{
    grid-area: footer; 
    background-color: #90A4BC;
    padding-left: 5px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 50px;
    border-top: solid 8px #becad0;
  }
  
.footer li{
display: inline;
text-decoration: none;
padding-left: 5px;
padding-right: 5px;
margin-left: 20px;
}

.footer p{
margin-left: 20px;
padding-left: 5px;
padding-bottom: 10px;
}

.footer a{
text-decoration: none;
color: white;
}

.footer li:hover,
.footer li.sfHover,
.footer li.current-menu-item {
    border-bottom: solid 0.3px #ED7755;

}
/* configure responsive grid */
@media (max-width:800px){
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "navbar logo"
        "searching searching"
        "mapping mapping"
        "filterSide filterSide"
        "displayEvents displayEvents"
        "footer footer";
    }

    .navbar{
        position: relative;
    }

    .mapping{
        grid-area: mapping;
        position: relative;
        top: 0px;
        margin: 20px;
        padding: 0;
    }

    #map{
        width: 100%;
        padding: 0;
        margin: 0;
        text-align: center;
    }

    .filterSide{
        grid-area: filterSide;
        padding: 0px;
        margin-top: 250px;
        margin-left: 20px;
        margin-right: 20px;
    }

    #filter{
        overflow-y: auto;
        width: 100%;
        height: 50px;
    }

    .displayEvents{
        grid-area: displayEvents;
        margin-top: 360px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .events{
        display: grid;
    }
    .event_card{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 
        "event_pic" 
        "event_title"
        "event_tag";
        border: 1px solid #becad0;
        border-radius: 4px;
        text-decoration: none;
        overflow: hidden;
        transition: all 0.2s ease-out;
        /* padding-left: 20px;
        padding-top: 20px; */
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: white;
    }
}