/* CSS FILE FOR loadEvents.pug */
/* configure main layout */
* {
    padding: 0;
    margin: 0px;
}

body {
    font-family: 'Quicksand';
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f4f4f4;
}

/* configure the grid */


/* container for the search events/search places */
.container_first {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    width: 100vw;
    height: 100vh;
    /* grid-template-columns: 0.3fr 1fr; */
    grid-template-rows: 0.005fr .05fr 2.5fr 0.1fr;
    /* grid-template-rows: auto; */
    /* grid-template-rows: auto; */
    grid-template-areas: 
    "navbar"
    "searchBox"
    "mapping"
    "footer";
}

.searching{
    grid-area: searchBox;
    max-height: 200px;
    text-align: center;
    padding-bottom: 50px;
    margin-left: 10vw;
    margin-right: 10vw;
    position: sticky;
}

.searching h1{
   padding-bottom: 5vh;
   font-size: 2em;
   font-weight: bolder;
   color: #e15848;
}

.search{
   border: none;
   width: 70%;
   height: auto;
   font-size: 1em;
   padding: 5px;
   border-radius: 10px;
}

.searching input[type=text]:hover{
    border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;
}

.searching:focus{
    border-color:#4d90fe;
}

.searching input[type=submit]{
    border: none;
    font-size: 1em;
    padding: 5px;
    border-radius: 10px;
    margin-top: 3vh;
}

.searching input[type=submit]:hover{
    color: #ED7755;
}

/* configure the map */
.mapping{
	grid-area: mapping;
	background-color: inherit;
}

#map {
    height: 400px;
    width: 50%;
    margin: 20px;

}

textarea:focus, input:focus{
    outline: none;
}
/* configure footer */
.footer{
    grid-area: footer; 
    background-color: #90A4BC;
    padding-left: 5px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 50px;
    border-top: solid 8px #becad0;
  }
  
  .footer li{
    display: inline;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 20px;
  }

  .footer p{
    margin-left: 20px;
    padding-left: 5px;
    padding-bottom: 10px;
  }

  .footer a{
    text-decoration: none;
    color: white;
  }
  
  .footer li:hover,
  .footer li.sfHover,
  .footer li.current-menu-item {
      border-bottom: solid 0.3px #ED7755;
  
  }