/* CSS FILE FOR loadEvents.pug */
/* configure main layout */
* {
    padding: 0;
    margin: 0px;
}

body {
    font-family: 'Quicksand';
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    background: rgb(213,221,232);
    background: linear-gradient(167deg, rgba(213,221,232,1) 0%, #ffc7bb 65%);
    /* background-image: linear-gradient(to bottom right, #e15848 50%, #5d8eca 100%);
    background: #ff836c; */
    /* background: linear-gradient(170deg, rgba(255,208,181,1) 0%, rgba(238,180,192,1) 100%);
    background: rgb(255,208,181); */
}

/* configure the grid */


/* container for the search events/search places */
.container_first {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: .2fr 1fr 0.15fr;
    grid-template-areas: "navbar searchBox logo" "mapping mapping mapping" "footer footer footer";
}

.searching {
    grid-area: searchBox;
    display: inline-block;
    max-height: 200px;
    text-align: center;
    padding: 10px;
}

::placeholder{
   color: #e15848;
   font-style: italic;
}

.search{
   width: 70%;
   height: auto;
   font-size: 1em;
   padding: 5px;
   margin: 10px;
   border-radius: 7px;
}

.searching input[type=text]:hover{
    border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;
}

.searching:focus{
    border-color:#4d90fe;
}

.searching input[type=submit]{
    font-size: 1em;
    padding: 5px;
    border-radius: 10px;
    margin-top: 3vh;
}

.searching input[type=submit]:hover{
    color: #ED7755;
}

button{
    margin-left: 10px;
    font-size: 15px;
}  

/* configure the map */
.mapping{
	grid-area: mapping;
    background-color: inherit;
    text-align: center;
}

#map {
    height: 600px;
    width: 60%;
    margin: 20px;
    display: inline-block;
    border-radius: 5px;
    border-style: double;

}

textarea:focus, input:focus{
    outline: none;
}
/* configure footer */
.footer{
    grid-area: footer; 
    background-color: #90A4BC;
    padding-left: 5px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 50px;
    border-top: solid 8px #becad0;
  }
  
  .footer li{
    display: inline;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 20px;
  }

  .footer p{
    margin-left: 20px;
    padding-left: 5px;
    padding-bottom: 10px;
  }

  .footer a{
    text-decoration: none;
    color: white;
  }
  
  .footer li:hover,
  .footer li.sfHover,
  .footer li.current-menu-item {
      border-bottom: solid 0.3px #ED7755;
  
  }