/* CSS FILE FOR loadEvents.pug */
/* configure main layout */
* {
    padding: 0;
    margin: 5px;
}

body {
    font-family: 'Quicksand';
    background-repeat: no-repeat;
    background-size: cover;
}

/* configure the grid */
.container {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    grid-template-rows: 0.005fr .05fr 5fr 0.1fr;
    grid-template-areas: 
    "navbar navbar"
    "searchBox searchBox"
    "filterSide displayEvents"
    "footer footer";
}

/* configure navigation bar */
.navbar{
    grid-area: navbar;
}   

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ED7755;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: black;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* configure header elements */
.logo{
    float: right;
}
.searchBox{
    grid-area: searchBox;
    max-height: 500px;
    text-align: center;

}
.search{
    width: 400px;
    font-size: 15px;
}
.filterSide{
    grid-area: filterSide;
}
#input{
    font-size: 15px;
}

.button{
    background-color: #90A4BC;
}

/* layout to show the events */
.displayEvents{
    grid-area: displayEvents;
    display: grid;
    grid-template-rows: auto;
}

.event_card{
    display: grid;
    grid-template-columns: 0.4fr 0.6fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "event_title event_title"
    "event_pic event_desc"
    "event_tag event_tag";
    border: 1px solid #becadb;
    border-radius: 4px;
    text-decoration: none;
    overflow: hidden;
    transition: all 0.2s ease-out;
}

.event_card:hover {
  top: -2px;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  border: 1px solid #cccccc;
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.event_title{
    grid-area: event_title;
}

.event_pic{
    grid-area: event_pic;
}

.event_pic img {
    width: 100%;
    height: auto;
}

.event_desc{
    grid-area: event_desc;
}

.event_tag{
    grid-area: event_tag;
}

/* configure footer */
.footer{
    grid-area: footer; 
    background-color: #90A4BC;
  
  }
  
  .footer li{
    display: inline;
    text-decoration: none;
  }
  
  .footer a{
    text-decoration: none;
    color: white;
  }
  
  .footer li:hover,
  .footer li.sfHover,
  .footer li.current-menu-item {
      border-bottom: solid 0.3px black;
  
  }