* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgb(26, 22, 22);
  font-family: 'Quicksand';
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(20, 1fr);
}
.grid > div {
  background: #eee;
  padding: 1em;
}

.grid > div:nth-child(odd) {
  background: #ddd;
}

.navBar {
  grid-column: 1/9;
  grid-row: 1/2;
} 

.navBar li {
  list-style-type: none;
  display: inline;
  list-style: none;
  text-align: center;
  padding-left: 15px;
  text-decoration: none;
}

.search {
  grid-column: 9/13;
  grid-row:1/2;
}

.banner {
  grid-column: 1/14;
  grid-row: 2/3;
  text-align: center;
  background-color: pink;

}
.basicProfile {
  grid-column: 1/7;
  grid-row: 6;

}
.interest{
  grid-column: 7/14;
  grid-row: 4/6;

}
.events {
  grid-column: 1/7;
  grid-row: 6/8;

}
.friends {
  grid-column: 7/14;
  grid-row: 6/8;

}
.events {
  grid-column: 1/7;
  grid-row: 8/10;
}

.reviews{
  grid-column: 7/14;
  grid-row: 8/10;

}
/*
.bookmars {
  grid-column: 1/2;
  grid-row: 10/14;
}


/*
.banner {
  grid-column: auto;
  grid-row: 2/2;
  font-family: "Wild Ones";
  padding: 5px;
}
.basicProfile {
  grid-column: 1/2;
  grid-row: 1/2;
}
.interest {
  grid-column: 1/2;
  grid-row: 1/2;
}
.events {
  grid-column: 1/2;
  grid-row: 1/2;
} 
.friends {
  grid-column: 1/2;
  grid-row: 1/2;
}
.reviews {
  grid-column: 1/2;
  grid-row: 1/2;
}


p {
  font-size: large;
}
