* {
  margin: 0;
  padding: 0;
  padding-top: 3px;
}

body {
  color:#333;
  font-family: 'Quicksand';
  padding-left: 30px;
  padding-right: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  align-self: center;
  justify-self: center;
  min-width: 0;
  min-height: 0;
  grid-gap: 30px;
  padding-bottom: 30px;
}

a {
  text-decoration:none;
  color: black;
}

.logo{
  grid-column: 1/2;
  grid-row: 1/2;
}

.nav {
  grid-area: nav;
  grid-column: 2/9;
  grid-row: 1/2;
} 

.nav li {
  list-style-type: none;
  display: inline;
  list-style: none;
  text-align: center;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
}

.nav li:hover,
.nav li.sfHover,
.nav li.current-menu-item {
    background: none;
    border-bottom: 2px solid #e15848;
}

.profile {
  grid-area: profile;
  grid-column:9/11;
  grid-row: 1/2;
  justify-self: end;
}

.profile li{
  list-style-type: none;
  display: inline;
  list-style:none;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: none;
}

.profile li:hover,
.profile li.sfHover,
.profile li.current-menu-item {
    background: none;
    border-bottom: 2px solid #e15848;
}

.search {
  grid-area: search;
  grid-column: 11/14;
  grid-row: 1/2;
  justify-self: end;
}

.banner {
  grid-area: banner;
  background-color: #f5bdab; 
  text-align: center;
  grid-column: 1/14;
  grid-row: 2/3;
  border: black;
  height: 100%;

}

.basicProfile {
  grid-column: 1/7;
  grid-row: 3/4;

}
.interest{
  grid-column: 7/14;
  grid-row: 3/4;

}
.events {
  grid-column: 1/7;
  grid-row: 4/5;

}
.friends {
  grid-column: 7/14;
  grid-row: 4/5;

}
.bookmarks {
  grid-column: 1/7;
  grid-row: 5/6;
}

.reviews{
  grid-column: 7/14;
  grid-row: 5/6;

}