/* CSS FOR signup.pug */
* {
    margin: 0;
    padding: 0;
}

/* Formatting the general look */
body {
    color:#333;
    font-family: 'Quicksand';
    background-image: linear-gradient(to bottom right, #e15848, #90a4bc);
    background-repeat:no-repeat;
    background-position: center;
    background-attachment: fixed;
}

/* Grid container configuration */
.gridContainer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "box";
 }

.box {
    grid-area: box;
    text-align: center;
    background-color: rgb(255,249,248);
    border: solid 1px rgb(214,201,201);
    border-radius: .7em;
    padding: 3vw;
    width: 40vw;
    margin: 100px auto;
    box-shadow: 0px 2px 2px 0px rgba(53, 53, 53, 0.75);
}

form {
    color: rgb(236,118,85);
}

/* Formatting the input boxes */
p {
    text-align: left;
}

input {
    font-size: 14px;
    width: 200px;
    padding: 20px;
    align-content: center;
    font-family: 'Quicksand';
}

/* Formatting header */
h1 {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    padding-top: 40px;
    padding-bottom: 20px;
    color: #647a94;
}

.uploadImage input{
    width: 20vw;
}

.uploadImage img {
    width: 15vw;
    height: 15vw;
}

.signUps {
    padding-top: 10px;
    text-align: left;
}

.signUps input {
    padding: 10px;
    width: 37.5vw;
    padding: 1vw;    
    margin-top: 6px;
}

/* Configuring terms and conditions */
.agree input {
    padding: .5em;
    width: 20px;

}

.agree {
    text-align: left;
    padding-top: 10px;
}

.nameContainers {
    display: grid;
    grid-template-areas: 
    "firstname lastname";
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3vw;
}

/* Entering first and last name */
.signUpsFirstName {
    grid-area: firstname;
    text-align: left;
}

.signUpsFirstName input {
    width: 16vw;
    padding: 1vw;
    margin-top: 6px;
}

.signUpsLastName {
    grid-area: lastname;
    text-align: left;
}

.signUpsLastName input {
    width: 16vw;    
    padding: 1vw;
    margin-top: 6px;
}

/* Sign Up Button*/
.signUpButton input {
    height: 6vh;
    width: auto;
    padding: 10px;
    font-family: 'Quicksand';
    font-size: 1em;
    border: none;
    border: .5px solid #707070;
    border-radius: .4em;

}
.signUpButton {
    text-align: left;
    padding-top: 20px;
}

.signUpButton input:hover,
.signUpButton input.sfHover,
.signUpButton input.current-menu-item {
    background-color: #f5bdab;
    color:  rgb(255, 255, 255);
}

/* Login button configuration */
.loginButton input {
    height: 5vh;
    width: auto;
    font-size: 1em;
    padding: 5px; 
    color: #555555;
    font-family: 'Quicksand';
    background: none;
    border: none;
    text-align: left;

}

.loginButton {
    text-align: left;
    padding-bottom: 40px
}

.loginButton input:hover,
.loginButton input.sfHover,
.loginButton input.current-menu-item {
    background: none;
    border-bottom: .1em solid #f5bdab;
}

/* hover over forms */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 160px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    margin: 5px;
    font-size: 10px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

#overlay {
    background-color: rgba(0, 0, 0, 0.5);
    background-attachment: fixed;
    background-position: center;
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    z-index: 2;
}

.submitBtns {
    background-color: #f1f1f1;
    padding: 2vw;
    justify-content: center;
    margin: 33.5vh auto;
    width: 40vmax;
    height: auto;
    font-family: 'Quicksand';
    color:  rgb(20, 20, 20);
    border-radius: .7em;
}

.submitBtns p {
    text-align: center;
}

.submitBtns input {
    height: 6vh;
    width: 11vw;
    padding: 10px; 
    margin-right: 2vw;
    font-family: 'Quicksand';
    font-size: 1.2vw;
    border: .5px solid #707070;
    border-radius: .4em;
    
}

.submitBtns input:hover,
.submitBtns input.sfHover,
.submitBtns input.current-menu-item {
    background-color: #f5bdab;
    color:  rgb(255, 255, 255);
}
.submitBtns input#no:hover,
.submitBtns input#no.sfHover,
.submitBtns input#no.current-menu-item {
    background-color: #ED7755;
    color:  rgb(255, 255, 255);
}


/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: lightgray;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 20%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Add a green text color and a checkmark when the requirements are right */

#pwdSpan {
    padding: 10px;
    background-color:black;
}

.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 20%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.valid {
    color: rgb(198, 255, 124);
}

    .valid:before {
        position: relative;
        left: -35px;
    }

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
    color: rgb(255, 105, 67);
}

    .invalid:before {
        position: relative;
        left: -35px;
    }