/* CSS FOR signup.pug */

* {
    margin: 0;
    padding: 0; 
}

/* Formatting the general look */

body {
    color:#333;
    font-family: 'Quicksand';
    background-image: linear-gradient(to bottom right, #e15848, #90a4bc);
}

div {
    background-repeat: no-repeat;
    background-size: cover;
}

form {
    color: rgb(236,118,85);
}

/* Formatting the input boxes */

p {
    text-align: left;
}

input {
    font-size: 14px;
    width: 200px;
    padding: 20px;
    align-content: center;
    font-family: 'Quicksand';

}

/* Formatting header */

h1 {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    padding-top: 40px;
    padding-bottom: 20px;
    color: #647a94;
}

.signUps {
    padding-top: 10px;
    text-align: left;  
}

.signUps input {
    padding: 10px;
    width: 470px;
    margin-top: 6px;
}

/* Configuring terms and conditions */

.agree input {
    padding: .5em;
    width: 20px;

}

.agree {
    text-align: left;
    padding-top: 10px;
}


.nameContainers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 36px;
}

/* Entering first and last name */

.signUpsFirstName {
    grid-column: 1;
    text-align: left;
}

.signUpsFirstName input {
    padding: 12px;
    margin-top: 6px;
}

.signUpsLastName {
    grid-column: 2;
    text-align: left;
}

.signUpsLastName input {
    padding: 12px;
    margin-top: 6px;
}

/* Sign Up Button*/

.signUpButton input {
    height: 45px;
    width: 120px;
    padding: 10px 10px 10px 10px; 
    font-family: 'Quicksand';
    font-size: 16px;
    border: none;
    border: .5px solid #707070;
    border-radius: .4em;

}
.signUpButton {
    text-align: left;
    padding-top: 20px;
}

.signUpButton input:hover,
.signUpButton input.sfHover,
.signUpButton input.current-menu-item {
    background-color: #f5bdab;
    color:  rgb(255, 255, 255);
}

/* Login button configuration */

.loginButton input {
    height: 40px;
    width: 180px;
    font-size: 16px;
    padding: 5px 5px 5px 5px; 
    color: #555555;
    font-family: 'Quicksand';
    background: none;
    border: none;
    text-align: left;
    
}

.loginButton {
    text-align: left;
    padding-bottom: 40px
}

.loginButton input:hover,
.loginButton input.sfHover,
.loginButton input.current-menu-item {
    background: none;
    border-bottom: .1em solid #f5bdab;
}

/* Grid container configuration */

.gridContainer {
    display: grid;
    grid-template-columns: .1fr 40fr .1fr;
    grid-template-rows: .1fr 40fr .1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-items: stretch;
    align-items: stretch;
 }

.box {
    grid-row: 2;
    grid-column:2;
    text-align: center;
    background-color: rgb(255,249,248);
    border: solid 1px rgb(214,201,201);
    border-radius: .7em;
    padding-left: 50px;
    padding-right: 50px;
    margin: 100px auto;
    box-shadow: 0px 2px 2px 0px rgba(53, 53, 53, 0.75);
}