
form {
    color: rgb(236,118,85);
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;

}

h1 {
    color: black;
    font-family: 'Helvetica';
    font-style: italic;
}

div {
    /*background-image: url("../assets/communit-group.png");*/
    background-repeat: no-repeat;
    background-size: cover;

}

.box {
    display: block;
    background-color: rgb(255,249,248);
    border: solid 1px rgb(214,201,201);
    /*background-color: #fff4f0*/
    height: 500px;
    width: 600px;
    padding: 30px;
    align-content: center;
    text-align: center;
    margin: 100px auto;
}

body {
    background-image: linear-gradient(to bottom right, #e15848, #90a4bc);
}