/* UNIVERSAL FILE FOR CSS FORMATS */
/* This file is used to contain css that are continuously reused in different pages
   which includes:
   - Navigation bar
   - 
 */

 /* Navigation Bar 
    used for: createEvent.css, eventDetails.css, loadEvents.css, profileEdit.css
 */

.navbar {
  grid-area: navbar;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
 }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ED7755;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  white-space: nowrap;
  
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
  white-space: nowrap;
}

.sidenav a:hover {
  color: black;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* configuring logo */
.logo{
  float: right;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 20px;
}

#logout {
  margin-top: 40vh;
}